@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('./../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-complete {
    height: 300px;
    width: 1000px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all ease .35s;
    display: flex;
    flex-direction: column;
}

h2, p {
    text-align: center;
    color: #fff;
}

button {
  --primary-color: #5cbdfd;
  --secondary-color: #fff;
  --hover-color: #0077b6;
  border-radius: 20px;
  border: 2px solid #ade8f4;
  color: var(--secondary-color);
  background: var(--primary-color);
  transition: 0.2s background;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Nova Square', sans-serif;
}

button:hover {
  background-color: #0077b6;
}

@media only screen and (max-width: 768px) {
    .container {
      height: auto;
      padding: 20px;
      margin-top: 100px;
    }

    .reset-complete {
      height: auto;
      width: 100%;
      max-width: 400px;
      padding: 10px;
    }
  
    h2 {
      font-size: 18px;
    }
      
    p {
      font-size: 15px;
    }

    button {
      width: 90px;
      height: 30px;
      font-size: 10px;
      margin-bottom: 10px;
    }
}