@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('./../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-form {
    height: 530px;
    width: 460px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all ease .35s;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin: 10px 0;
    color: #fff;
    text-align: left;
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ade8f4;
    background: transparent;
    color: #fff;
}

button {
    --primary-color: #5cbdfd;
    --secondary-color: #fff;
    --hover-color: #0077b6;
    border: 0;
    border-radius: 10px;
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    width: 70%;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Nova Square', sans-serif;
}

button:hover {
    background-color: #0077b6;
}

@media only screen and (max-width: 768px) {
    .reset-form {
      margin: 0 20px;
      height: auto;
      padding: 20px;
    }

    .reset-form input {
        width: 100%;
      }

    button{
        margin-bottom: 20px;
        width: 100%;
    }
  }