@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
}

.hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

nav{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 130px;
    cursor: pointer;
    margin-left: 18px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 130px;
    margin-left: -100px;
    font-weight: bolder;
    font-family: 'Nova Square', sans-serif;
}

nav ul li a:hover{
    color: #5cbdfd;
}

.info{
    margin-left: 8%;
}

.info h1{
    font-family: 'Nova Square', sans-serif;
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 60px;
    letter-spacing: 1px;
}

.info p{
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    line-height: 30px;
}

.btnLogin-popup {
    --primary-color: #5cbdfd;
    --hover-color: #0077b6;
    font-family: 'Nova Square', sans-serif;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #ade8f4;
    border-radius: 20px;
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
    cursor: pointer;
}
  
.btnLogin-popup:hover {
    background-color: var(--hover-color);
}

img{
    max-width: 100%;
    max-height: 100%;
}

.img-box{
    width: 43%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 130px;
}

.container{
    position: relative;
    height: 530px;
    width: 460px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    margin-left: 350px;
    margin-top: -450px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all ease .35s;
}

.main-box{
    padding: 50px;
    width: 100%;
}

.main-box h1{
    font-family: 'Nova Square', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.input-box{
    position: relative;
    height: 52px;
    width: 100%;
    border-bottom: 2px solid #fff;
    margin: 32px 0;
}

.input-box label{
    border: none;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all ease .45s;
}

.input-box input{
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    padding: 0 30px 0 6px;
}

.input-box .icon{
    position: absolute;
    color: #fff;
    right: 9px;
    font-size: 19px;
    line-height: 55px;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -3px;
    font-size: 15px;
}

.check{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: -14px 0 15px;
    display: flex;
    justify-content: space-between;
}

.check label input{
    margin-right: 5px;
    accent-color: #5cbdfd;
}

.check a{
    color: #5cbdfd;
}

.check a:hover{
    text-decoration: underline;
}

.main-btn{
    --primary-color: #5cbdfd;
    --secondary-color: #fff;
    --hover-color: #0077b6;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    height: 43px;
    cursor: pointer;
}

.main-btn:hover{
    background-color: var(--hover-color);
}

.register{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #fff;
}

.register p a{
    color: #5cbdfd; 
}

.register p a:hover{
    text-decoration: underline;
}

.close-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: #5cbdfd;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 1;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.container .main-box.login{
    transition: transform .20s ease;
    transform: translateX(0);
}

.container .main-box.register{
    position: absolute;
    transform: translateX(500px);
    transition: none;
}

.container.active{
    height: 570px;
}

.container.active .main-box.login{
    transition: none;
    transform: translateX(-500px);
}

.container.active .main-box.register{
    transition: transform .20s ease;
    transform: translateX(0);
}

.container{
    transform: scale(0);
}

.container.active-popup{
    transform: scale(1);
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 20px; 
    height: 3px;
    background-color: #fff;
    margin: 4px 0; 
    transition: 0.4s;
    border-radius: 5px; 
}

.close-button {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.close-button span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 100px; 
    }

    .img-box {
        display: none;
    }

    .info h1 {
        font-size: 40px; 
    }

    .info p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .btnLogin-popup {
        margin: auto;
        font-size: 13px; 
        padding: 0.8em 1.5em;
    }

    .container {
        width: 100%;
        margin: 0;
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2;
    }

    .main-box h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .input-box {
        height: 40px; 
        margin: 20px 0;
    }

    .input-box label {
        font-size: 20px;
    }

    .input-box input {
        font-size: 20px;
    }

    .input-box .icon {
        font-size: 20px;
    }

    .input-box input:focus~label,
    .input-box input:valid~label{
    font-size: 15px;
}

    .check {
        font-size: 15px;
        margin: 5px 0 10px;
    }

    .check label input {
        margin-right: 0;
        margin-bottom: 5px; 
    }

    .check a {
        margin-top: 5px; 
    }

    .main-btn {
        font-size: 20px; 
        height: 30px; 
    }

    .main-box.register h1 {
        font-size: 40px;
        margin-top: 100px;
    }

    .register {
        font-size: 15px; 
        margin: 10px 0; 
    }

    .register p a {
        font-size: 15px; 
        margin-top: 5px;
    }

    .close-icon {
        width: 30px; 
        height: 30px; 
        font-size: 20px; 
        border-bottom-right-radius: 10px; 
    }

    .burger-menu {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        left: 0;
        top: 20px;
        width: 100%;
        height: 90%;
        border-radius: 24px;
        border: 3px solid rgba(257, 257, 257, .4);
        background: transparent;
        backdrop-filter: blur(10px);
        z-index: 1;
        transition: all ease .35s;
    }

    ul.active {
        display: flex;
    }

    ul:not(.active) {
        display: none;
    }

    ul li {
        padding: 15px;
        border-bottom: 1px solid #fff;
        width: 90%;
        font-size: 20px;
    }
    
    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .close-button.active span:nth-child(1) {
        transform: rotate(45deg) translate(-5px, 6px);
    }

    .close-button.active span:nth-child(2) {
        opacity: 0;
    }

    .close-button.active span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, -6px);
    }
}