@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('./../../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Nova Square', sans-serif;
}

.quiz-setup-container {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

label {
    color: #fff;
    display: block;
    text-align: left;
    margin-top: 10px;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    outline: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: #3498db;
    font-family: 'Nova Square', sans-serif;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3498db;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3498db;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

a{
    text-decoration: none;
}

button {
    font-family: 'Nova Square', sans-serif;
    margin: 5px 20px;
    padding: 10px;
    width: 100px;
    background-color: #3498db;
    border: 2px solid #ade8f4;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #2980b9;
}

@media only screen and (max-width: 768px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    label{
        font-size: 13px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 10px;
    }

    .quiz-setup-container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    input, select {
        width: calc(100% - 20px);
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .switch {
        width: 30px;
        height: 15px;
    }

    .slider {
        border-radius: 10px;
    }

    .slider:before {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        left: 1px;
    }

    input:checked + .slider:before {
        transform: translateX(15px);
    }

    button {
        width: 30%;
        padding: 8px 10px;
        font-size: 12px;
    }
}