<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/practiceMode/practice.css' %}">
  <title>Calqlated</title>
</head>
<body>
  <header>
    <div class="logo-container">
        <a href="/index.html"><span class="logo-text">CALQLATED</span></a>
    </div>
  </header>
  <div id="practice-mode" class="container">
    <p>Practice Mode</p>
  </div>
  <div class="buttons-container">
    <a href="{% url 'solo-student' %}"><button class="btn">Solo</button></a>
    <a href="{% url 'group-student' %}"><button class="btn">Group</button></a>
  </div>
</body>
</html>
<!-- <a href="{% url 'solo-student' %}">SOLO</a>
<a href="{% url 'group-student' %}">GROUP</a> -->