<!-- <h2>Password Reset Done</h2>
<p>We have sent you an email with instructions to reset your password. Please check your email.</p>
<a href="{% url 'home' %}">Login</a> -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password/password_reset_done.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Password Reset Done</title>
</head>
<body>
  <div class="container">
    <form class="reset-done">
        <h2>Password Reset Done</h2>
        <p>We have sent you an email with instructions to reset your password. Please check your email.</p>
        <a href="https://mail.google.com/" style="color: white;">Go to GMAIL</a>
    </form>
</div>
</body>
</html>