<!-- <h2>Confirm Password Reset</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Confirm</button>
</form> -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password/password_reset_confirm.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Reset Password Confirm</title>

</head>
<body>
    <div class="container">
        <form class="reset-confirm" method="POST" style="color: white;">
            {% csrf_token %}
            <h2>Reset Password</h2>
            {{form.as_p}}
            
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>