<!-- <h2>Reset Password</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Reset Password</button>
</form> -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password/password_reset_form.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <form class="reset-form" method="POST">
            {% csrf_token %}
            <h2>Reset Password</h2>

            <label for="email">Enter Email</label>
            {{form.email}}
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>