<!-- <h2>Password Reset Complete</h2>
<p>Your password has been successfully reset.</p>
<a href="{% url 'home' %}">Login</a> -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password/password_reset_complete.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>Reset Complete</title>
</head>
<body>
  <div class="container">
    <form class="reset-complete">
        <h2>Password Reset Complete</h2>
        <p>Your password has been successfully reset.</p>
        <button><a href="{% url 'home' %}" class="a">Login</a></button>
    </form>
</div>
</body>
</html>