@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('/static/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
  #score-container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    font-size: 20px;
  }
  
  #score {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50; /* Green color for the score */
  }
  
  #trophy {
    width: 300px;
    margin-top: 50px;
  }
  
  #congratulations {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: #4CAF50; /* Green color for congratulations text */
  }
  /* Styles for the modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(232deg, rgba(0, 15, 30, 0.5), rgba(38, 33, 69, 0.5)), url('/static/img/bg.jpg');
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
header {
  text-align: center;
  color: #fff; /* Adjust text color as needed */
  padding: 10px;
}

.leaderboard-text {
  margin: 0;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #ade8f4;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.entry-data {
  flex: 1;
  text-align: center;
}

.big-box {
  border: 2px solid #ade8f4;
  border-radius: 10px;
  padding: 20px;
  width: 78%;
  text-align: center;
  margin: 20px auto 0; 
  height: 200px;
}

button {
  font-family: 'Nova Square', sans-serif;
  padding: 20px;
  width: 250px;
  background-color: #3498db;
  border: 2px solid #ade8f4;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;

}

@media only screen and (max-width: 768px) {
  #score-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    font-size: 30px;
  }

  #trophy {
    width: 200px;
    margin-top: 30px;
    font-size: 30px;
  }

  #congratulations {
    font-size: 30px;
    margin-top: 5px;
  }

  #score-container button {
    width: 80%;
    margin: 10px auto;
    padding: 12px 24px;
    font-size: 20px;
  }

  .modal-content {
    height: auto;
  }
}
